# PostgreSQL
POSTGRES_DB=auth
POSTGRES_USER=auth
POSTGRES_PASSWORD=change-me
POSTGRES_HOST_PORT=5433

# AuthServer
WEBSPA_CLIENT_ID=web-spa
SVC_EXAMPLE_CLIENT_ID=svc-example
SVC_EXAMPLE_SECRET=change-me

# OIDC
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
VKID_CLIENT_ID=
VKID_CLIENT_SECRET=
